<div class="container">
  <h1><%= @posttext.headline %></h1>
  <p><%= @posttext.content %></p>
  <p><%= link_to 'Edit', edit_posttext_path(@posttext)  %> | <%= link_to 'Back', posttexts_path %></p>
</div>